/* I add this line to all of my CSS files by default */
body * {
    box-sizing: border-box;
}

/*
----------
Properties
----------
align-items: 		(flex-start, flex-end, space-around, space-between, center)
justify-content: 	(same as align-items)
flex-direction: 	(row, column, row-reverse, column-reverse)
flex-wrap: 		    (no-wrap, wrap)
*/

main, section {
    border: solid 1px black;
}

main {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
    padding: 20px;
}

section {
    width: calc(23%-20px);
    width: 23%;
    padding: 10px
}



@media only screen and (max-width: 1000px) {
    section {
        width: calc(50%-20px);
        padding: 10px
    }
}

@media only screen and (max-width: 600px) {
    section {
        width: 100%;
        padding: 10px
    }
}

