@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body * {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
}

header {
    margin: 50px 5vw;
}

.search-form {
    display: grid;
    grid-template-columns: 50px 400px 100px;
    justify-items: flex-start;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px 20px;
    background: #F4F4F4;
    border-radius: 4px;
    border: solid 1px #DDD;
    margin: 20px 0;
}
.search-form label {
    justify-self: flex-end;
    font-weight: 500;
}
.search-form button {
    grid-column: 3 / 4;
}
.search-form span {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    justify-self: flex-start;
}
.search-form input[type="text"] {
    min-width: 400px;
    padding: 5px 10px;
}
.search-form button {
    padding: 5px 20px;
}
.search-form input[type="text"], 
.search-form button {
    font-size: 1.1em;
}

.courses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 5vw;
    column-gap: 20px;
    row-gap: 20px;
}

.course {
    border: solid 1px #CCC;
    padding: 0 20px;
}

.course h2 {
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1.2em;
    font-size: 1.3em;
}

.fa-circle-check {
    color: rgb(46, 168, 46);
}
.fa-circle-xmark {
    color: rgb(169, 36, 36);
}