html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav {
    position: fixed;
    background-color: rgb(221, 254, 255);
    width: 100%;
    padding: 20px;
    align-items: center;
} 

ul {
    background-color: rgb(255, 249, 227);
    width: 20%;
    padding: 20px;
    align-items: center;
}

nav, ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
