body * {
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

main {
    min-height: 100vh;
}

.card {
    width: 25%;
    border: dotted 5px hotpink;
}

h2,p,button {
    margin: 10px;
}

img {
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 450px;) {

    .card {
        width: 95%;
    }
}

@media screen and (max-width: 800px;) {

    .card {
        width: 50%;
    }
}