@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

/* SET UP */

* {
  box-sizing: border-box;
}

ul {
  padding-left: 1.5rem;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  background-color: snow;
  margin: 0 auto;
  max-width: 1000px;
}

.item {
  padding: 8px;
  background-color: white;
  border: 4px solid tomato;
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.height-50 {
  height: 50vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
}

.header {
  grid-column: 1 / 4;
}

.container {
}

.header {
}

.ads {
  grid-row: 2 / 4;
  grid-column: 3 / 4;
}

.sidebar {
  grid-row: 2 / 4
}

.main {
}

.footer {
  grid-column: 1 / 4;
}



@media screen and (max-width: 1020px) {
  .container {
    grid-template-columns: 1fr 2fr;
  }

  .header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .navigation {
    grid-column: 1 / 3;
  }

  .sidebar {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .main {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .ads {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }
  
}


@media (max-width: 720px) {
}