/* Layout stuff (ignore) */
body {
    max-width: 1000px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    margin-bottom: 100px;
    padding: 20px;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 20px;
}



/* Option 1: regular image style */
img {
    width: 100%;
}


/* Option 2: Background image style */
.image {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 200px;
    min-height: 300px;
    /* filter: grayscale(100%); */
    /* https://www.w3schools.com/cssref/css3_pr_filter.asp */

}

.img1 {
    background-image: url("/lectures/background-media/in-class-exercise/pexels-pixabay-162059.jpg");
}

.img2 {
    background-image: url('images/img2.jpg');
}

.img3 {
    background-image: url('images/img3.jpg');
}