html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;
    height: 100vh;
}

#bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(170, 168, 204);
    height: 100vh;
}

#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(213, 193, 213);
    height: 100vh;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 237, 255);
    height: 100vh;
}